
<form ng-submit="exampleCtrl.doSearch()"></form>
<input type="text" placeholder="Search!" ng-model="exampleCtrl.search">
<input type="text" placeholder="Search Pokemans">
<input type="button" name="name" value="">

<br>

Searching for: {{ exampleCtrl.search }}

<br><br>

<div ng-repeat="pokemon in exapmleCtrl.pokemans | filter:exampleCtrl.search">
  {{ pokemon.name }}
</div>

<h1>Hello</h1>
<!-- order by name -->

<!-- <pre>
  {{ pokemon.name }}
</pre> -->


<!-- {{ exampleCtrl.today | date:'fullDate' }} -->
